
/*prueba*/
:root {
  --sycsi: #ea5f12;
}
*{
  padding: 0;
  margin: 0;
  font-family: "Arial",sans-serif;
  box-sizing:border-box;
  scroll-behavior: smooth
}
p{
  font-family: "Roboto",sans-serif;
}
li,a{
  text-decoration: none;
  text-decoration-style: none;
  list-style: none;

}
h2,h3{
  font-family: "PT Sans Narrow",sans-serif;
}
body{
   
    min-width: 320px;
    width: 100%;
    display: block;
}

/*------HEADER*/
.header--container{
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    min-height: 80px;
    align-items: center;
    justify-content:center;
    background-color: white;
    z-index: 5;
    }
 .logo{
      width: 250px;
      height:70px;
      margin-right: 30px;
      background-image: url("../img/sycsi.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
}

.header-navegacion--menu{
  max-width: 530px;
  min-height:32px;
  height: 70px;
  top: 10px;
  margin-right: 10px;
  padding: 0 0;
  background-color:white;
  border: 2px solid white;
  border-radius: 4px;
  /*ver*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}
.header-navegacion--menu .icon{
  display: none;
  width: 32px;
  height: 32px;
  background:url("../img/menu-icon.svg");
  background-position: center;
  background-position:no-repeat;
  background-size: cover;
}
.header-navegacion--menu a{
    font-family: "Roboto",sans-serif;
    font-size: 1em;
    padding: 10px;
    color: #8d8d8d;
}
 .header-navegacion--menu a{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
 .color-efect:hover,
 .color-efect:focus,
 .color-efect:active {

  background-color: var(--sycsi);
  color: white;

}
/*----------BOTON-------------------------------*/

#miBoton{
    width: 30px;
    height: 30px;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background: white url("../img/up-arrow1.svg");
    background-position: center;
    background-position:no-repeat;
    background-size: cover;
    border: 0.5px solid white;
    outline: none;
    cursor: pointer;
    border-radius: 100%;
}
/* MAIN Y SECCIONES */
main{
   
    top:80px;
    min-width: 320px;
    width: 100%;
    height:auto;
    display:block;
    text-align: center;

}
/*----------SECCION INICIO------------------------*/

.inicio--container{
  position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 90vh;
     
}
.gradiente{
    position: absolute;
    width: 100%;
    height:100%;
    background-image: linear-gradient(to bottom
    , #fe9f2f 0, #fc8f28 16.67%, #f57a1e 33.33%, #ea5f11 50%, #de4107 66.67%, #d61c0a 83.33%, #d00012 100%);
}
.inicio-texto--container{
      min-width:280px;
      max-width: 700px;
      margin: 0 auto 150px;
      z-index: 1;
}
.inicio--container .texto{

      font-family: "PT Sans Narrow",sans-serif;
      color:white;
      font-size: 1.6em;
}
/* ------------------ SECCION NOSOTROS------------------*/
.nosotros--container{
  display: flex;
    width: 90%;
    min-height: 80vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4,auto);
    margin: 0 auto;
    padding-top: 30px;
    text-align: start;
    justify-content: center;
}
.separador--secciones{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(100deg, #fe9f2f 0, #fc8f28 16.67%, #f57a1e 33.33%, #ea5f11 50%, #de4107 66.67%, #d61c0a 83.33%, #d00012 100%);
}
.separador--secciones h2{
  margin-left: 5%;
  font-family: "PT Sans Narrow",sans-serif;
  color: white;

}
.nosotros-titulo{
  margin-left: 20px;

}
.nosotros--imagen{
    width: 470px;
    height: 325px;
    background-image: url("../img/imagen1-nosotros.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nosotros--texto{
  width: 50%;
}
.nosotros--texto p{
        margin: 20px;
        font-size: 16px;
        line-height: 1.66em;
        color: #777777;
}
.misionvision--container{
        position: relative;
        width: 100%;
        min-height: 50vh;
        display: flex;
        justify-content: flex-end;
        background:url("../img/background-seccion-nosotros.jpg");
        background-size: cover;
        background-position: center;
}
.colorgradient{
      position:absolute;
      width: 100%;
      height: 100%;
      background-image:linear-gradient(
        to left,
        rgb(234, 95, 18,1), 
        rgb(234, 95, 18,1),
        rgb(234, 95, 18,0.5),
        rgba(234, 95, 18,0.5));
}
.misionvision--texto{
      max-width: 50%;
      padding: 10px;
      text-align: start;
      z-index: 4;
}
.misionvision--texto h2{
  color: white;
  margin-bottom: 10px;
  font-size: 2.6em;
}
.misionvision--texto h3{
  color: white;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.misionvision--texto p{
  color: white;
  margin-bottom: 10px;
  font-size: 1em;
  line-height: 1.66em;
}







.titulo-nosotros{
  font-family: "PT Sans Narrow",sans-serif;
  font-size: 2em;
  color: var(--sycsi);
}
.titulos--secciones{
  font-family: "PT Sans Narrow",sans-serif;
  font-weight:bold;
  color: var(--sycsi);
  font-size: 2em;
}
.nosotros-card{
    min-width: 280px;
    max-width: 400px;
    height: 400px;
    padding: 15px;
    background-color: white;
    border: 1px solid var(--sycsi);
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
    margin: 10px;
}
.tarjeta{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;


}

.nosotros-card h3{
  font-family: "PT Sans Narrow",sans-serif;
  font-weight: bold;
  font-size: 3em;
}
.nosotros-card p , .politica-card p{
    font-family: "PT Sans Narrow",sans-serif;
    font-size: 1.5em;
    line-height: 1.5em;
}

/*-----------------SECTION SERVICIO--------------*/

.servicios--container{
     width: 90%;
     min-height: auto;
     margin: 0 auto;
    padding: 10px;

}
.servicio--titulo{
    color: white;

}
.servicio-cards--container{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  justify-items: flex-start;
  align-items: flex-start;
  height: auto;
  margin-top: 50px;

}
.servicios-card{
    min-width:280px;
    max-width:400px;
    text-align: left;
    padding-left: 20px;
    justify-content: flex-start;
    overflow: auto;
    /*background: rgba(0, 0, 0, 0.5);
    border: 1px solid  rgba(0, 0, 0, 0.5);
    border-radius: 5px; */
}

.servicios-card ul{
      align-self: flex-start;
      list-style-position: inside;
  }
.servicios-card h3{
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    color:#777777;
}
.servicios-card li{
    margin-bottom: 10px;
    font-family: "Roboto",sans-serif;
    color:#777777;
}
.servicios-card li:not(li>ul>li){
        list-style-image: url("../img/right-arrow.svg");
}
.servicios-card li > ul > li {
    text-indent: 10px;
}
.servicios-card li > ul > li > ul > li{
    text-indent: 20px;
}
.servicios-card li > ul > li:first-of-type{
    margin-top: 10px;
}
.especificos{
    grid-row: 2 /4;
    grid-column: 3;
    height: auto;
}
/* ----------CLIENTES seccion -´--------------------*/

.clientes--container{
      width: 100%;
      min-height: 100vh;
      height: 100%;
      text-align: center;
      padding-top: 10px;
     /* background:url("../img/background-seccion-clientes.jpg") no-repeat center;
      background-size: cover;
      background-color: rgba(0, 0, 0, 0.5);
      background-blend-mode: darken;*/
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.clientes--grilla{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,auto);
    justify-items:center;
    grid-gap: 50px;
}
.cliente{
    height: 100px;
    width: 100px;
    grid-column: span 2;
}
.clientes--container h2{
    color:var(--sycsi);
    margin-bottom: 20px;
}
.clientes--grilla .vale{
  width: 116px;
  height: 50px;
  background: url("../img/Vale_logo.svg") no-repeat center;
  background-size: cover;
}
.clientes--grilla .sodexo{
  width: 180px;
  height: 50px;
  background: url("../img/sodexo.png") no-repeat center;
  background-size: cover;
}
.clientes--grilla .iron{
  width: 180px;
  height: 35px;
  background:  url("../img/logo-irongroup.png") no-repeat center;
  background-size: cover;
}
.clientes--grilla .jumbo{
  width: 150px;
  height: 85px;
  background:  url("../img/jumbo-logo-preload.png") no-repeat center;
  background-size: cover;
}
.clientes--grilla .diesel{
  width: 200px;
  height: 40px;
  background:  url("../img/logo_dieselService.svg") no-repeat center;
  background-size: cover;
}
.clientes--grilla .della{
  width: 170px;
  height: 40px;
  background:  url("../img/dellatoffola.png") no-repeat center;
  background-size: cover;

}
.clientes--grilla .g4s{
  width: 100px;
  height: 50px;
  background:  url("../img/g4s-logo.png") no-repeat center;
  background-size: cover;
  background-color: rgba(255,255,255,0.2);
  background-blend-mode:darken;
}
.clientes--grilla .linde{
  width: 100px;
  height: 50px;
  background:  url("../img/Linde_plc.jpg") no-repeat center;
  background-size: cover;
}

/*-------------POLITICA SECCION-------------------*/

.politica--container{
    width: 90%;
    height: 100%;
    text-align: start;
    margin: 0 auto;
}
.politica-texto--container{
  min-width: 280px;
  max-width: 100%; 
  margin: 20px 0;
}
.titulo-politica{
    margin:20px 0;
}
.politica-texto--container h3{
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: #777777;
}
.politica-card--container{
    width: 100%;
    min-height: 70vh;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    align-items:flex-start;
    justify-items: center;
    padding-bottom: 20px;
}
.politica-card{
  min-width: 280px;
  max-width: 400px;
  height: auto;
  max-height:130px;
  padding: 5px;
  text-align: left;
  font-size: 0.9em;
  align-items: flex-start;
}
.politica-card p{
  color: #777777;
  font-weight: 500;
  
}
/*--------------------CONTACTO CONTAINER----------------*/
.contacto--container-bg{
  width: 100%;
  background-color:var(--sycsi);
}

.contacto--container{
    width: 90%;
    min-height: 400px;
    margin:0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
   
}
.titulo-contacto{
  grid-column: 1/ span 2;
  color: white;
}
.contacto-informacion--container p{
    font-family: "PT Sans Narrow",sans-serif;
    font-size: 1.5em;
    margin: 15px 0;
    color:white;
}
.icon-linkedin{
    display: inline-block;
     width: 50px;
     height:50px;
     margin-left: 10px;
     background: url("../img/linkedin.svg") no-repeat center;
     background-size: cover;
     vertical-align: middle;
     cursor: pointer;
}
.icon-facebook{
    display: inline-block;
    width: 50px;
    height:50px;
    margin-left: 10px;
    background: url("../img/facebook.svg") no-repeat center;
    background-size: cover;
    vertical-align: middle;
    cursor: pointer;
}
.contacto-mapa--container{
      position: relative;
      width: 70%;
      height: 70%;
      padding-top: 56.25%;
      margin: 15px;
    }
.google-map{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

}

/*--------FOOTER--------------------*/

.footer--container{
 
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.footer-logo{
  filter: grayscale(50%);
}
.footer--container p{
    color: white;
    font-family: "ROBOTO",sans-serif;
}
