@media only screen and (max-width:820px) {
  /*SERVICIOS POLITICA-------------------*/
.politica-card{
  grid-column:span 3;
}
.politica-card p{
    font-size: 1.3em;
}
.politica-texto--container{
    font-size: 1.3em;
}
}

@media only screen and (max-width: 1024px) {

      .nosotros--container{
        display: flex;
        flex-direction: column;
      }
      .titulos--secciones{
        font-size: 2.5em;
      }
      .nosotros-card h3{
        font-size: 2em;
      }
      .nosotros-card p{
          font-size: 1em;
          line-height: 1.2em;
      }
      /*SERVICIOS*/
        .servicios-cards--container{
            display: flex;
            flex-direction: column;
        }

        /*CONTACTO*/
      .contacto-informacion--container,
      .contacto-mapa--container{
          grid-column: span 2;


      }

}
@media only screen and (min-width:712px) and (max-width: 790px) {

  .logo{

       min-width: 150px;
       min-height:40px;
       margin-right: 15px;
       background-image: url("../img/sycsi.png");
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
 }
.header-navegacion--menu{
     min-width: 400px;
     top: 10px;
     margin-right: 10px;
 }
}




@media only screen and (max-width:712px){
   .header-navegacion--menu{
      height: 32px;
  }
  .header-navegacion--menu a{
      display: none;

  }
 .header-navegacion--menu .icon{
      display:block;
      cursor: pointer;
  }
}
@media only screen and (max-width:712px){

    .header-navegacion--menu.responsive{
          position: relative;
    }

    .header-navegacion--menu.responsive a{
        display: block;
        font-size:2em;
    }
    .header--container.responsive{
        flex-direction: column;
    }
    .header-navegacion--menu.responsive{
        display: flex;
        flex-direction:column;
        flex-wrap: nowrap;
        width: 100%;
        height: 100vh;
        background-color: white;
    }
    /*SERVICIOS CLIENTES-------------------*/
    .clientes--grilla{
        grid-gap: 20px;

    }

    .cliente{

          grid-column: span 4;

    }

  }


  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {}

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {



  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {}

  /* Large devices (laptops/desktops, 992px and up) */


  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {}
