@media only screen and (max-width: 1024px) {
    .titulos--secciones {
        font-size: 2.5em;
    }
    .nosotros-card h3 {
        font-size: 2em;
    }
    .nosotros-card p {
        font-size: 1em;
        line-height: 1.2em;
    }
    /*SERVICIOS*/
    .servicios-card {
        flex-direction: column;
    }
    .tarjeta--imagen {
        width: 100%;
        padding: 20px 0;
    }
    /*CONTACTO*/
    .contacto-informacion--container,
    .contacto-mapa--container {
        grid-column: span 2;
    }
}

@media only screen and (max-width:820px) {
    /*POLITICA-------------------*/
    .politica-card {
        grid-column: span 3;
    }
    .politica-card p {
        font-size: 1.3em;
    }
    .politica-texto--container {
        font-size: 1.3em;
    }
    .cursos--container {
        flex-direction: column;
    }
}

@media only screen and (min-width:712px) and (max-width: 790px) {
    /*HEADER*/
    .logo {
        min-width: 150px;
        min-height: 40px;
        margin-right: 15px;
        background-image: url("../img/sycsi.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .header-navegacion--menu {
        min-width: 400px;
        top: 10px;
        margin-right: 10px;
        visibility: visible;
    }
}

@media only screen and (max-width:712px) {
    /*MENU DESPLEGABLE */
    .header-navegacion--menu {
        visibility: hidden;
        position: absolute;
        top: 80px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        margin-right: 0;
        height: auto;
        background-color: white;
        border-radius: 0;
        box-shadow: 0 0 0 white;
    }
    .header-navegacion--menu a {
        display: block;
        font-size: 1.3em;
        align-self: flex-end;
    }
    .btn-nav {
        visibility: visible;
    }
    /* NOSOTROS ------------------ */
    .nosotros--texto {
        width: 100%;
    }
    .nosotros--container {
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
    }
    /*SERVICIOS CLIENTES-------------------*/
    .clientes--grilla {
        grid-gap: 20px;
    }
    .cliente {
        grid-column: span 4;
    }
}

@media only screen and (max-width:500px) {
    .nosotros--imagen {
        width: 300px;
        height: 200px;
        align-self: center;
    }
}